.popupMenu {
  background-color: #daecee;
  position: relative;
  /*height: 100%;*/
  width: 30%;
  left: 0;
  bottom: 0;
}

.popupMenu ul li {
  list-style: none;
  padding: 20px 0px;
  transition: opacity 200ms ease-out;
  opacity: 0.4;
  cursor: pointer;
}

.popupMenu ul li:hover {
  opacity: 0.95;
}

.element-actif {
  opacity: 1 !important;
}

.popupScene img {
  width: 80px;
  height: auto;
}

.imgAstuce {
  width: 200px !important;
  height: auto !important;
  transform: translateX(50%) !important;
}
