@import url(loader.css);
@import url(bootstrap.css);
@import url(header.css);
@import url(outil_de_calcul.css);
@import url(jeu.css);
@import url(carousel.css);

/*------------------------popup-----------------*/
@import url(popup.css);
@import url(calculatrice.css);
@import url(convertisseur.css);
@import url(calculMental.css);
@import url(tiktactoe.css);
@import url(pendu.css);

@font-face {
  font-family: "big-john-pro-bold";
  src: url("../font/BJP/bigjohnpro-bold.otf");
}

@font-face {
  font-family: "big-john-pro-light";
  src: url("../font/BJP/bigjohnpro-light.otf");
}

@font-face {
  font-family: "big-john-pro-regular";
  src: url("../font/BJP/bigjohnpro-regular.otf");
}

h1,
h3 {
  font-family: "big-john-pro-bold" !important ;
}

p {
  font-family: "big-john-pro-light" !important ;
}

a {
  text-decoration: none !important;
}

.FlexColumns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-------------------------------scroll bar-----------------------------------*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #343a40;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

/*---------------------------------------citation------------------------*/
.citation {
  padding: 20px 0;
  color: white;
  background-color: #2b3a3d;
}
